.App-header {
  background-color: #FFFFFF;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: black;
}

.sections {
  display: flex;
  justify-content: center;
}

.appointments {
  width: 40%;
}

.physicians {
  width: 30%;
}

.physicians li:hover {
  cursor: pointer;
  background-color: #CCC;
}
